{% load rest_framework %}
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>Title</title>
	<style>
		code {
			font-family: Consolas, "courier new";
			color: crimson;
			background-color: #f1f1f1;
			padding: 5px;
			font-size: 105%;
			border-radius: 5px;
		}
		.inputForm {
			background-color: #f1f1f1;
			padding: 1.25rem;
			border-radius: 0.5rem;
		}
		body {
			padding: 0.5rem;
		}
	</style>
</head>
<body>
<div class="row">
	<div class="col-md-1 col-lg-1"></div>
	<div class="col-md-10 col-lg-10">
		<div style="text-align: center">
		<br>
		<h1> Image -> base64 -> MD5 hash API</h1>
		<p>Use URL : <code>/api</code> with image file as form-data (i.e. enctype = multipart/form-data) to test the api</p>
		<br>
		<p>Or you can use the below form to test the same</p>
			<p><code>Note: </code> The output here will be Browsable API through rest-framework interface, but the output is in JSON format and can be verified using Postman or any other API testing platform</p>
		</div>
	</div>
	<div class="col-md-1 col-lg-1"></div>
</div>
<hr>
<div class="row">
	<div class="col-md-4 col-lg-4"></div>
	<div class="col-md-4 col-lg-4">
		<div class="inputForm">
			<form action="{% url 'api' %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{% render_form serializer template_pack='drfformbootstrap4/vertical' %}
				<input type="submit" class="btn btn-primary" value="Generate"></input>
			</form>
		</div>
	</div>
	<div class="col-md-4 col-lg-4"></div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>